#parents{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

fieldset{
    background-color: var(--secondary-bg-color);
    border :2px solid var(--main-opposite-bg-color);
    border-radius : 4px;
    padding: 5px;
    margin-bottom: 10px;
}

body{
    margin-left: 5px;
    margin-right: 5px;
}

.rowflex{
    gap: 10px;
    flex-wrap: wrap;
}

.rep_non_place{
    border : 1px solid var(--main-opposite-bg-color);
    border-radius : 4px;
    padding: 2px 4px;
}

.rep_place{
    height: 1em;
    width: fit-content;
    vertical-align: middle;
}

#texte{
    margin-bottom: 20px;
    display: inline-block;
}

.dropzone{
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 6em;
    background-color: var(--secondary-bg-color);
    border : 1px solid var(--main-opposite-bg-color);
}

.dropzone_hover{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

select{
    background-color: var(--secondary-bg-color);
    color: var(--main-opposite-bg-color);
}