#contribution{
    text-align: center;
}

#contribution h2{
    text-align: center;
}

li{
    margin-left: 28px;
}
h1{
    margin-bottom: 50px;
}

section{
    margin-bottom: 75px;
}

table{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

thead{
    margin: 0px;

}

tbody th{
    font-weight: normal;
}

th, td{
    padding: 5px;
    border : 1px solid var(--main-opposite-bg-color);
}

.differents{
    background-color: var(--secondary-bg-color);
}

img{
    margin-right: 5px;
    width: 200px;
}

.div_img{
    text-align: center;
    flex :1 1 0;
}

#pres_equipe h3{
    margin: 20px 0;
}

#pres_equipe div{
    flex-wrap: wrap ;
}

.texte_pres{
    flex: 50000000000 1 0;
    min-width: 800px;
}
