@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --light-bg-color:#f5f5f5f5;
    --dark-bg-color:#343434;

    --main-bg-color:var(--light-bg-color);
    --main-opposite-bg-color:var(--dark-bg-color);
}

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body{
    background-color: var(--main-bg-color);
    color:var(--main-opposite-bg-color)
}

#darkbtn{
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--main-opposite-bg-color);
    display: inline-block;
    padding: 0 6px;
    border: 1px solid ;
    border-radius: 4px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;   /*   ca c'est au cas ou ya d'autres elements*/
    font-size: 24px;
    text-decoration: none;
}

#darkbtn svg{
    transition: transform 0.7s ease;
}

#darkbtn:hover svg{
    transform: scale(1.5) rotate(180deg);
}

nav{
    display: flex;
    justify-content: center;
}

.line{
    width: 25%;
    height: 4px;
    background-color: var(--main-opposite-bg-color);
    border-radius: 8px;
    position: fixed;
    top:0;
}

#home{
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--main-opposite-bg-color);
    display: inline-block;
    border: 1px solid ;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;   /*   ca c'est au cas ou ya d'autres elements*/
    font-size: 24px;
    text-decoration: none;
}

#home svg{
    color:var(--main-opposite-bg-color);
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #a9aaa9;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;
}

#navbar:hover {
    opacity: 1;
}

a:link, a:visited {
    color:var(--dark-bg-color);
}

#navbar a {
    padding: 6px;
    color:var(--dark-bg-color);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: small;
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
}